<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Keuangan</h1>
    <p class="lead">Ini adlah halaman untuk membuat laporan keuangan.</p>
  </div>
</div>

<div class="container">

<div class="clearfix" style="padding-bottom: 20px; ">
	<button class="btn btn-primary float-right" (click)="open(content)">BUAT DATA BARU</button>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Tanggal</th>
      <th scope="col">Pemasukan</th>
      <th scope="col">Pengeluaran</th>
      <th scope="col">Total</th>
      <th scope="col">#</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let n of dataSource; let nomer=index">
      <th scope="row">{{nomer+1}}</th>
      <td>{{n.tanggal}}</td>
      <td>{{n.pemasukan}}</td>
      <td>{{n.pengeluaran}}</td>
      <td>{{n.total}}</td>
      <td align="right">
      		<button class="btn btn-primary">EDIT</button>
      	<button class="btn btn-danger" style="margin-left: 5px;" (click)="deleteData(nomer)">HAPUS</button>
      </td>
    </tr>
  
  </tbody>
</table>

</div>



<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Menambahkan Data Baru</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    

 <div class="form-group">
 <label for="exampleInputPassword1">Tanggal</label>
    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Enter tanggal..." [(ngModel)]="user.tanggal">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Pemasukan</label>
    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Enter nama pemasukan..." [(ngModel)]="user.pemasukan">
  </div>
<div class="form-group">
    <label for="exampleInputPassword1">Pengeluaran</label>
    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Enter pengeluaran..." [(ngModel)]="user.pengeluaran">
  </div>
<div class="form-group">
    <label for="exampleInputPassword1">Total</label>
    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Enter total..." [(ngModel)]="user.total">
  </div>




  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="saveData(user)">Save</button>
  </div>
</ng-template>
