<nav class="navbar fixed-top navbar-expand-lg navbar-blue bg-dark">
<div class="container">
  <a class="navbar-brand" href="#">SG</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="" routerLink="/home">Pemesanan <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="" routerLink="/student">Keuangan</a>
      </li>

       <li class="nav-item">
        <a class="nav-link" href="" routerLink="/teacher">Stok Barang</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="" routerLink="/harian">Penjualan Harian </a>
      </li>
  
      
    </ul>

  </div>
</div>
</nav>



<router-outlet></router-outlet>



