<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Stok Barang</h1>
    <p class="lead">Ini adalah halaman untuk membuat laporan stok barang</p>
  </div>
</div>

<div class="container">

<div class="clearfix" style="padding-bottom: 20px; ">
	<button class="btn btn-primary float-right" (click)="open(content)">BUAT DATA BARU</button>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Kode</th>
      <th scope="col">Tanggal</th>
      <th scope="col">Nama Barang</th>
      <th scope="col">Jumlah</th>
      <th scope="col">#</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let n of dataSource; let nomer=index">
      <th scope="row">{{nomer+1}}</th>
      <td>{{n.kode}}</td>
      <td>{{n.tanggal}}</td>
      <td>{{n.namabarang}}</td>
      <td>{{n.jumlah}}</td>
      <td align="right">
      		<button class="btn btn-primary">EDIT</button>
      	<button class="btn btn-danger" style="margin-left: 5px;" (click)="deleteData(nomer)">HAPUS</button>
      </td>
    </tr>
  
  </tbody>
</table>

</div>



<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Menambahkan Data Baru</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    

 <div class="form-group">
 <label for="exampleInputPassword1">Kode</label>
    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Enter kode..." [(ngModel)]="user.kode">
  </div>
<div class="form-group">
    <label for="exampleInputPassword1">Tanggal</label>
    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Enter tanggal..." [(ngModel)]="user.tanggal">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Nama Barang</label>
    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Enter nama barang..." [(ngModel)]="user.namabarang">
  </div>
<div class="form-group">
    <label for="exampleInputPassword1">Jumlah</label>
    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Enter jumlah..." [(ngModel)]="user.jumlah">
  </div>





  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="saveData(user)">Save</button>
  </div>
</ng-template>
